<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap" rel="stylesheet">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <style>
            .error[for='niveau']{
                margin-right:10px;
                margin-left:-30px
            }
            .error[for='Nom']{
                margin-right:10px;
            }
            label{
                margin-right:10px;
            }
            .btn-success {
                margin-left: 170px;

            }
        </style>

        {% endblock %}
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{{ path('home')}}">Gestion Etudiants</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'etudiants' %}active{% endif %}"  href="{{ path('etudiant.index') }}"> Liste des Étudiants</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'etudiants' %}active{% endif %}"  href="{{ path('ajout-Etudiant') }}"> Inscriptions</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'etudiants' %}active{% endif %}"  href="{{ path('note.index') }}"> Gestion des Notes</a>
                    </li>

                    {# <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'etudiants' %}active{% endif %}"  href="{{ path('etudiant.index') }}"> Rapport des Étudiants</a>
                    </li> #}
                    {# <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> #}

                    {# <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> #}
                    </ul>
                </div>
            </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
            
                var Nom = window.location.href.split('?')[1].split('&')[0].split('=')[1];
                {# var regexNom = new RegExp('/'Nom'/g'); #}
                var strings =document.getElementsByTagName('h5')

                var Niveau = window.location.href.split('?')[1].split('&')[1].split('=')[1];
                var GI2 = document.getElementsByClassName("GI2");
                var GI1 = document.getElementsByClassName("GI1");
                if(Niveau == "GI1"){
                    for (var i=0;i<GI2.length;i++){
                        GI2[i].style.display = 'none';
                    }
                }else if(Niveau == "GI2"){
                    for (var i=0;i<GI1.length;i++){
                        GI1[i].style.display = 'none';
                    }
                }
                for(var i=0;i<strings.length;i++){
                    var str = strings[i].innerText;
                    if(str.indexOf(Nom) != -1 && Nom != ""){
                        strings[i].parentNode.parentNode.style.backgroundColor= '#5BB55B';
                    }    
                }
                
                
            
            
            {# function myFunction1() {
                var id1 = document.getElementById("GI1-ch").value;
                if(id1.checked == true){
                    var GI2 = document.getElementsByClassName("GI2");
                    for (var i=0;i<GI2.length;i+=1){
                        GI2[i].style.display = 'none';
                    }
                }
            }
            function myFunction2() {
                var id2 = document.getElementById("GI2-ch").value;
                if(id2.checked == true){
                    var GI1 = document.getElementsByClassName("GI1");
                    for (var i=0;i<GI1.length;i+=1){
                        GI1[i].style.display = 'none';
                    }
                }
            }
             #}
            
            {# switch(id){
                case "GI1":
                    var GI2 = document.getElementsByClassName("GI2");
                    for (var i=0;i<GI2.length;i+=1){
                     GI2[i].style.display = 'none';
                    }
                    break;
                case "GI2":
                    var GI1 = document.getElementsByClassName("GI1");
                    for (var i=0;i<GI1.length;i+=1){
                     GI1[i].style.display = 'none';
                    } 
                    break;  

            } #}
        </script>
        <script>
            var elem = document.getElementById('niveau');
            elem.classList.add("form-control");

            var elem1 = document.getElementById('Nom');
            elem1.classList.add("form-control");
        </script>
        {# <script>
            var matiere = window.location.href.split('?')[1].split('=')[1];
            var elems = document.getElementsByTagName('tr');
            switch(matiere){
                case 'COMPLEXITE':
                for(i=0; i< elems.length; i++){
                    document.getElementsByClassName('MACHINE_LEARNING')[i].style.display = 'none';
                    document.getElementsByClassName('AWA')[i].style.display = 'none';
                    document.getElementsByClassName('POO_EN_JAVA')[i].style.display = 'none';
                }
                break; 

                case 'MACHINE_LEARNING':
                for(i=0; i< elems.length; i++){
                    document.getElementsByClassName('AWA')[i].style.display = 'none';
                    document.getElementsByClassName('POO_EN_JAVA')[i].style.display = 'none';
                    document.getElementsByClassName('COMPLEXITE')[i].style.display = 'none';                    
                }
                break; 

                case 'AWA':
                for(i=0; i< elems.length; i++){
                    document.getElementsByClassName('COMPLEXITE')[i].style.display = 'none';
                    document.getElementsByClassName('POO_EN_JAVA')[i].style.display = 'none';
                    document.getElementsByClassName('MACHINE_LEARNING')[i].style.display = 'none';
                }
                break; 

                case 'POO_EN_JAVA':
                for(i=0; i< elems.length; i++){
                    document.getElementsByClassName('MACHINE_LEARNING')[i].style.display = 'none';
                    document.getElementsByClassName('COMPLEXITE')[i].style.display = 'none';
                    document.getElementsByClassName('AWA')[i].style.display = 'none';
                }
                break;   
            }
        </script> #}
        <script>
            java = document.getElementsByClassName('POO_EN_JAVA');
            ML = document.getElementsByClassName('MACHINE_LEARNING');
            AWA = document.getElementsByClassName('AWA');
            COMP = document.getElementsByClassName('COMPLEXITE');
            var matiere = window.location.href.split('?')[1].split('=')[1];
            if(matiere == 'POO_EN_JAVA'){
                for(var i=0;i<ML.length;i++){
                    ML[i].style.display = 'none';
                }
                for(var i=0;i<AWA.length;i++){
                    AWA[i].style.display = 'none';
                }
                for(var i=0;i<COMP.length;i++){
                    COMP[i].style.display = 'none';
                }

            }else if(matiere == 'MACHINE_LEARNING'){
                for(var i=0;i<java.length;i++){
                    java[i].style.display = 'none';
                }
                for(var i=0;i<AWA.length;i++){
                    AWA[i].style.display = 'none';
                }
                for(var i=0;i<COMP.length;i++){
                    COMP[i].style.display = 'none';
                }

            }else if(matiere == 'AWA'){
                for(var i=0;i<ML.length;i++){
                    ML[i].style.display = 'none';
                }
                for(var i=0;i<java.length;i++){
                    java[i].style.display = 'none';
                }
                for(var i=0;i<COMP.length;i++){
                    COMP[i].style.display = 'none';
                }

            }else if(matiere == 'COMPLEXITE'){
                for(var i=0;i<ML.length;i++){
                    ML[i].style.display = 'none';
                }
                for(var i=0;i<AWA.length;i++){
                    AWA[i].style.display = 'none';
                }
                for(var i=0;i<java.length;i++){
                    java[i].style.display = 'none';
                }
            }  
        </script>
        <script>
            var elem = document.getElementById('Matiere');
            elem.classList.add("form-control");
        </script>
    </body>
</html>
