{% extends 'base.html.twig' %}

{% block title %}La liste des etudiants!{% endblock %}

{% block body %}
    <section class="etudiant">
                <h3>Nom complet de l'etudiant</h3>
                <p> {{ etudiant.nom }} {{ etudiant.prenom }}</p>
                <h3>CNE</h3>
                <p> {{ etudiant.cne }}</p>
                <h3>Adresse email</h3>
                <p>{{ etudiant.email}}</p>
                <h3>Date de naissance</h3>
                <p>{{ etudiant.naissance }}</p>
                <h3>Adresse</h3>
                <p>{{ etudiant.adresse }}</p>
                <h3>Niveau</h3>
                <p>{{ etudiant.niveau }}</p>
                <h4>Les matieres</h4>
                <ul>
                {% for matiere in etudiant.niveau.matieres %}
                    <li>{{ matiere }}</li>
                {% endfor %}
                </ul>
                <img src="{{asset('images/student'~ etudiant.getIdE()~'.png')}}" class="card-img-top" alt="..." height="220px" width="120px">
            <a href="{{ etudiant.getId }}/edit-Etudiant" class="btn btn-primary">Modifier etudiant</a>


    </section>

{% endblock %}
